body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  width: 10%;
  margin: 10px 0;
  padding: 15px 20px;
  box-sizing: border-box;
}

#datetime {
  width: 10%;
  padding: 15px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    p {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input {
      width: 8%;
      margin: 9px 0;
      padding: 12px 15px;
      box-sizing: border-box;
    }
    
    #datetime {
      width: 8%;
      padding: 12px 15px;
      margin: 12px 0;
      box-sizing: border-box;
    }
}

  