body {
	background-image: url('../images/seoul.jpg');
	background-size: cover;
}

section {
	width: 500px;
	margin-top: 250px;
	margin: auto;
}

.center {
	width: 100%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	position: absolute; 
	left: 50%;
	top: 75%;
	text-align: center;
}

h1, nav, p {
	font-size: 3em;
	text-align: center;
	background-color: gainsboro;
}

.links {
	margin: 0.5em;
}

a:link, a:visited {
	color: black;
}

a:focus, a:hover, a:active, a.selected:visited  {
	color: yellow;
}
